*{
    box-sizing: border-box;
    border-radius: 5px;
}

body{
    background-color: rgb(1, 1, 20);
    color: white;
    font-family: 'Heebo', sans-serif;;
}

main{
    max-width: 75%;
    height:fit-content;
    background-color: rgb(20, 20, 32);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    transform: translate(15%, 15%);
    border: 3px solid rgb(142, 142, 214);
    border-radius: 5px;
}

#messages{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 95%;
    height: 50%;  
    margin-bottom: 1em;
}

#message_area{
    display: flex;
    justify-content: end;
    margin-bottom: 1em;
    width: 100%;
    flex-direction: column;
}

button{
    float: right;
    max-width: 5vw;
    max-height: 5vh;
}

input{
    margin-top: 2em;
    height: 20vh;
    width: 50vw;
    text-align: start;
}

#input_area{
    background-color: rgb(16, 16, 27);
    margin: 8em 0 1em 0;
    padding: 1em;
    display: flex;
    align-items: center;
    justify-content: center;
}

.text_messages{
    width: 100%;
    margin-top: .5em;
    margin-bottom: .5em;
    padding: .3em;
    border: 3px solid rgb(1, 1, 20);
    border-radius: 3px;
}

p{
    margin-right: 1em;
    float: left;
}

h1{
    transform: translateX(-120%);
}

button{
    padding: .3em;
    color: white;
    border: none;
    background-color: gray;
    border-radius: 3px;
    margin: 2px;
    cursor: pointer;
}

.btn_excluir{
    background-color: rgb(255, 0, 0); 
}

.btn_editar{
    background-color: rgb(255, 155, 4); 
}

.btn_confirmar{
    background-color: rgb(21, 255, 0); 
}

.hide{
    display: none;
}

.button{
    transform: translateY(60%);
    margin-right: 1em;
}

#text_area{
    transform: translateY(25%);
    margin-right: 1em;
}

